### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [2]:
pc = purchase_data["SN"].nunique()
columns = {"Total Player Count" : pc}
pc_DF = pd.DataFrame([columns])
pc_DF

   Total Player Count
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#**Purchasing Analysis (Total)**
# Find Number of Unique Items
unique_items = purchase_data["Item ID" ].nunique()
#unique_items
# Find Average Purchase Price
average_purchase_price = purchase_data["Price"].mean()
# Find Total Number of Purchases
total_number_of_purchases = purchase_data["Price"].count()
#total_number_of_purchases
# Find  Total Revenue
total_revenue=purchase_data["Price"].sum()
# total_revenue
#Create a Data frame to show all together
total_analysis={"Number of Unique items":unique_items,"Average Purchase Price":round(average_purchase_price,2),
                "Total Number of Purchases":total_number_of_purchases,"Total Revenue":round(total_revenue,2)}
purchasing_analysis=pd.DataFrame([total_analysis])

purchasing_analysis["Average Purchase Price"]=purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis

,Number of Unique items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
'''Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed
'''
gender_data = purchase_data.loc[:,("Gender", "SN")]
gd_DF = gender_data.groupby("Gender")["SN"].nunique()
gd_DF = pd.DataFrame(gd_DF)
gd_DF = gd_DF.rename(columns={"SN":"Number"})

#calculate percents and create new dataframe
gender_counts = gd_DF.loc[:, "Number"]
gender_percent = gender_counts/pc
gender_cols = {'Total Count': gender_counts, 'Percent of Players': gender_percent}
gd_count_DF = pd.DataFrame(gender_cols)
gd_count_DF.sort_values(by=['Total Count'],inplace = True, ascending = False)
gd_count_DF ["Percent of Players"] = gd_count_DF["Percent of Players"].map("{:,.2%}".format)
gd_count_DF

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Using GroupBy in order to seperate Data into fiels according to "Gender specific" Values
gender_data_purchase_data = purchase_data.groupby(["Gender"])
#The object returned is a "GroupBy" object and needs dome manipulation
#gender_data_purchase_data.head()

#in order for it to be visualized, a data function must be used
gender_data_purchase_data["Purchase ID"].count().head(10)

#get total purchase Value by gender
total_purchase_value= gender_data_purchase_data["Price"].sum()
#total_purchase_value.head()
dlr_total_purchase_value = total_purchase_value.map("${:,.2f}".format)
#dlr_total_purchase_value.head()

#Average Purchase price by Gender
avg_purchase_price = gender_data_purchase_data["Price"].mean()
#avg_purchase_price.head()
dlr_avg_purchase_price = avg_purchase_price.map("${:.2f}".format)
#dlr_avg_purchase_price.head()

# Normalized totals, total purchases value / by purchase count by gender
normalized_totals = total_purchase_value/gender_data_purchase_data["Purchase ID"].count()
dlr_normalized_totals = normalized_totals.map("${:,.2f}".format)
#dlr_normalized_totals.head()

#Organize the Data gender data, get all the columns organized in the Dataframe add the needed columns to the dataframe
fin_gender_purchased_data = pd.DataFrame(gender_data_purchase_data["Purchase ID"].count())
fin_gender_purchased_data["Average Purchase Price"] = dlr_avg_purchase_price
fin_gender_purchased_data["Total Purchase Value"] = dlr_total_purchase_value
fin_gender_purchased_data["Normalized Totals"] = dlr_normalized_totals
#fin_gender_purchased_data

#Summary of Data analysis DF grouped by Gender, rename "Purchase ID" column to "Purchase Count" with the .rename(columns={}) 
sum_purchase_gender = fin_gender_purchased_data.rename(columns={"Purchase ID":"Purchase Count"})
sum_purchase_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#establish the bins for age groups
age_demographics = purchase_data.loc[:,("Age","SN")]
age_demographics_totals = age_demographics.sort_values("Age")
age_bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins
age_demographics_totals["Age Ranges"] = pd.cut(age_demographics["Age"], age_bins, labels=group_names)
#Calculate the Numbers and Percentages by Age Group
age_demographics_totals = age_demographics_totals["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / pc
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players":age_demographics_percents})
#Minor Data Munging
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format)
#Display the age Demographic Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
a_p_t = purchase_data.groupby["Age Ranges"]
#.sum()["Price"].rename("Total Purchase Value")

TypeError: 'method' object is not subscriptable

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
# **Top Spenders**

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#Extract item Data
item_data = pd.DataFrame(purchase_data)
#item_data.head()

top_spendors = item_data.groupby("SN")
top_spendors.count()

analysis_by_spendor = pd.DataFrame(top_spendors["Purchase ID"].count())

total_purchase_by_SN = top_spendors["Price"].sum()

average_purchase_price_SN = top_spendors["Price"].mean()

dollar_avg_purchase_price = average_purchase_price_SN.map("${:,.2f}".format)

analysis_by_spendor["Average Purchase Price"] = dollar_avg_purchase_price
analysis_by_spendor["Total Purchase Value"] = total_purchase_by_SN

summary_SN_purchase_data = analysis_by_spendor.rename(columns={"Purchase ID": "Purchase Count"})
TOP5_Spendors = summary_SN_purchase_data.sort_values("Total Purchase Value", ascending=False)

dollar_total_purchase = total_purchase_by_SN.map("${:,.2f}".format)
TOP5_Spendors["Total Purchase Value"] = dollar_total_purchase
TOP5_Spendors.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80